
@{
    ViewData["Title"] = "Career Opportunities With Unique Services Florida - ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["MetaDescription"] = "Interested in HVAC jobs in Florida? Unique Services Florida offers the best employment packages. Visit our website for more information.";
}

<div class="container">

    <div class="row">
        <div class="col-lg-10">
            <h1 class="h1-internal mt-5">HVAC Careers</h1>
            <hr class="hr-internal" />

            <p>Unique Services is growing so much that we are recruiting the best of the best. When you’re part of the team, it isn’t just a job—it’s about being a part of something that matters. We offer the best employment packages to the best people. Currently, we are offering a $1,000 hiring bonus for certain positions, so call today!</p>
            <p><a class="btn btn-primary" href="https://careers-ars.icims.com/jobs/search?ss=1&amp;searchRelation=keyword_all&amp;searchLocation=-12793-Bradenton" role="button" target="_blank">Apply Now</a></p>

            <h2 class="h2-internal mt-5">COMPANY BENEFITS OFFERED</h2>
            <hr class="hr-internal" />            

            <div class="row mt-5">
                <div class="col-lg-4">
                    <ul class="ul-nested">
                        <li>Highly Competitive Pay Plan</li>
                        <li>Incentive Compensation Plans</li>
                        <li>Medical, Dental, and Vision insurance</li>
                        <li>Short and Long-term Disability Available</li>
                        <li>401K Plan with Company Match</li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <ul class="ul-nested">
                        <li>Life Insurance</li>
                        <li>Paid Vacation</li>
                        <li>Paid Holiday</li>
                        <li>Truck provided</li>
                        <li>Uniform Program</li>                        
                    </ul>
                </div>
                <div class="col-lg-4">
                    <ul class="ul-nested">
                        <li>Tool Reimbursement Program</li>
                        <li>Career Advancement Opportunities</li>
                        <li>Comprehensive Training Programs using State of the Art Technology</li>
                    </ul>
                </div>
            </div>

            <h2 class="h2-internal mt-5">CAREER OPPORTUNITIES</h2>
            <hr class="hr-internal" />

            <h3 class="mt-5">HVAC Sales Representative</h3>
            <hr class="hr-internal" />
            <p>Unique Services is seeking an energetic and driven outside sales professional to sell air conditioning systems and maintenance agreements to residential and commercial customers in the Sarasota/Bradenton area.</p>

            <h3 class="mt-5">Customer Service Representative</h3>
            <hr class="hr-internal" />
            <p>We are in search for a Customer Service Representative to answer phones in addition to a variety of office duties supporting customer services. Candidate must be detailed oriented, upbeat, and enthusiastic. Previous Customer Service experience is a plus but not required. The ideal candidate must also enjoy working in a fast-paced environment on a daily basis. The candidate must be able to work a flexible schedule including Saturdays and Sundays as needed.</p>

            <h3 class="mt-5">HVAC Service Technicians</h3>
            <hr class="hr-internal" />
            <p>We are looking for experienced technicians with at least 5 years of residential or commercial experience. The candidate must have the ability to work flexible hours as required, and remain on-call nights/weekends when assigned. They must have experience in troubleshooting, diagnosing, adjusting and/or repairing a variety of malfunctions in complex, multi-zone air conditioning systems while devising and controlling air distribution efficiently with maximum comfort.</p>
            <p>Must have a valid Florida driver’s license.</p>

            <h3 class="mt-5">HVAC Installers Leads and Helpers</h3>
            <hr class="hr-internal" />
            <p>We are looking for exceptional air conditioning installers and helpers. If you’re feeling underpaid, overworked, and unappreciated, then you need Unique Services. Our technicians enjoy steady hours, great pay, amazing benefits, and state-of-the-art tools and technology. Earn what you’re worth! We are recruiting drug-free, top-performing professionals now to deliver our award-winning customer service.</p>
            <p>Must have a valid Florida driver’s license. No experience required for HVAC helpers.</p>

            <h3 class="mt-5">Plumbers and Plumbing Helpers</h3>
            <hr class="hr-internal" />
            <p>We are looking for a plumber with at least 5 years’ experience in service work, with gas experience. The candidate must be capable of repairing and replacing fixtures, sinks, toilets, water heaters, garbage disposals, pumps, water and sewer piping, and drain cleaning. We offer very competitive pay, 401(k), and health insurance.</p>
            <p>Must have a valid Florida driver’s license. No experience required for plumbing helpers.</p>

            <p class="mb-5"><a class="btn btn-primary" href="https://careers-ars.icims.com/jobs/search?ss=1&amp;searchRelation=keyword_all&amp;searchLocation=-12793-Bradenton" role="button" target="_blank">Apply Now</a></p>
        </div>
    </div>
</div>
    


