
@{
    ViewData["Title"] = "HVAC &amp; Plumbing Deals in Bradenton, FL | Unique Services Florida - ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["MetaDescription"] = "Save big with Unique Services Florida for maintenance and installation services for all your HVAC, plumbing, and electrical needs. See our latest discounts!";
}

<div class="container">

    <div class="row">
        <div class="col-lg-10">
            <h1 class="h1-internal mt-5">HVAC & Plumbing Specials</h1>
            <hr class="hr-internal" />
            <h2 class="h2-internal mt-5">ENERGY SAVING SPECIALS</h2>
            <hr class="hr-internal" />

            <p>We have Energy Saving Specials that are good for the environment and good for saving money on your water and power bill.</p>

            <div class="row mt-5">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <h5>NEW HEATING & COOLING SYSTEM NOW AS LOW AS $89/MONTH & NO PAYMENTS UNTIL 2022!*</h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">*Loans provided by EnerBank USA, Member FDIC, (1245 Brickyard Rd., Suite 600, Salt Lake City, UT 84106) on approved credit, for a limited time. Repayment term is 120 months. 6.99% fixed APR. Minimum loan amounts apply. The first monthly payment will be due 90 days after the loan closes. The $89 per month payment example is based on a $7,500.00 purchase price with 6.99% APR for 120 months. Valid at participating ARS® Network Locations. Not valid for third party, new commercial or construction customers or with any other offers or discounts, or prior sales or installations. See service center for details. Coupon required at time of service. Void if copied or transferred and where prohibited. Any other use may constitute fraud. Cash value $.001. Offer expires 10/31/2021.</p>
                        </div>
                    </div>                    
                </div>
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <h5>GET UP TO $1,750 OFF A NEW COOLING AND HEATING SYSTEM*</h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">*Purchase and installation of complete heating and cooling system required. Customer will receive $1750 off the purchase of 19+ SEER systems, $1,500 off the purchase of 17-18 SEER systems, $1,000 off the purchase of 16 SEER systems, and $500 off the purchase of 14-15 SEER systems. Valid at participating ARS® Network locations. Not valid for third party, new construction, or commercial customers, with any other offers, discounts, or on prior sales. Call service center for details. Coupon required at time of service. Void if copied or transferred and where prohibited. Any other use may constitute fraud. Cash value $.001. Offer expires 10/31/2021.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-5">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <h5>SAVE $50 ON ANY INDOOR AIR QUALITY PRODUCT OVER $399!*</h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">* $399 minimum purchase and installation required. Valid at participating ARS® Network locations. Not valid for third party, new construction or commercial customers, with any other offers, discounts or prior sales. See service center for details. Coupon required at time of service. Void if copied or transferred and where prohibited. Any other use may constitute fraud. Cash value $.001. Offer expires 10/31/2021.</p>
                        </div>
                    </div>                    
                </div>
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <h5>$50 OFF ANY COOLING OR HEATING REPAIR*</h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">*$200 minimum purchase required. Valid at participating ARS®/Rescue Rooter® Network locations. Not valid for third party, new construction customers, with any other offers, discounts or prior sales. Valid for residential customers only. Coupon required at time of service. Void if copied or transferred and where prohibited. See service center for details. Any other use may constitute fraud. Cash value $0.01. Offer expires 10/31/2021.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-5">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <h5>$50 OFF ANY PLUMBING REPAIR*</h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">*$200 minimum purchase required. Valid at participating ARS®/Rescue Rooter® Network locations. Not valid for third party, new construction customers, with any other offers, discounts or prior sales. Valid for residential customers only. Coupon required at time of service. Void if copied or transferred and where prohibited. See service center for details. Any other use may constitute fraud. Cash value $0.01. Offer expires 10/31/2021.</p>
                        </div>
                    </div>                    
                </div>
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <h5>$29 COOLING OR HEATING SYSTEM TUNE UP*</h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">*Price valid for one working system. Valid at participating ARS® Network locations. Not valid for third party, new construction, or commercial customers, with any other offers, discounts, or on prior sales. Call service center for details. Coupon required at time of service. Void if copied or transferred and where prohibited. Any other use may constitute fraud. Cash value $.001. Offer expires 10/31/2021.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-5">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <h5>$89 MAIN DRAIN LINE CLEANING - INCLUDES FREE VIDEO CAMERA INSPECTION*</h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">*Proper clean out access required. Recommendations will be provided and performed at the quoted price upon homeowner approval.  Valid at participating ARS® Network locations. Not valid for third party, new construction, or commercial customers, with any other offers, discounts, or on prior sales. Call service center for details. Coupon required at time of service. Void if copied or transferred and where prohibited. Any other use may constitute fraud. Cash value $.001. Offer expires 10/31/2021.</p>
                        </div>
                    </div>                    
                </div>
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <h5>$49 WATER HEATER FLUSH AND TUNE-UP*</h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">*Price per water heater. Tankless water heaters excluded. Valid at participating ARS/Rescue Rooter Network locations. Not valid for HSP discounts, third party or new construction customers, with any other offers, discounts or prior sales. Coupon required at time of service. Void if copied or transferred and where prohibited. See service center for details. Any other use may constitute fraud. Cash value $.001. Offer expires 10/31/2021.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-5 mb-5">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <h5>SAVE UP TO $650 ON A NEW WATER HEATER!* PLUS 12 MONTHS SAME-AS-CASH FINANCING**</h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">*$100 off standard; $200 off high efficiency; $300-$650 off tankless. Price per water heater. **Loans provided by EnerBank USA, Member FDIC, (1245 Brickyard Rd., Suite 600, Salt Lake City, UT 84106) on approved credit, for a limited time. Minimum loan amounts apply. For 12-month same as cash loans, APR is 6.99% fixed. Repayment terms vary from 24 to 132 months. Interest waived if repaid in 365 days. Interest starts accruing when the loan closes.Valid at participating ARS®/Rescue Rooter® Network locations. Not valid for HSP discounts, third party or new construction customers, with any other offers, discounts or prior sales. Valid for residential customers only. Coupon required at time of service. Void if copied or transferred and where prohibited. See service center for details. Any other use may constitute fraud. Cash value $0.01. Offer expires 10/31/2021.</p>
                        </div>
                    </div>                    
                </div>
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <h5>SENIOR DISCOUNT 55+ 10% OFF ANY REPAIR OR $500 OFF A NEW COOLING & HEATING SYSTEM</h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">$200 maximum repair discount. Purchase and installation of new system required for $100 discount. Must show valid id indicating eligibility. Valid at participating ARS® Network locations. Not valid for third party, new construction, or commercial customers, with any other offers, discounts, or on prior sales. Call service center for details. Coupon required at time of service. Void if copied or transferred and where prohibited. Any other use may constitute fraud. Cash value $.001. Offer expires 10/31/2021.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
    


