
@{
    ViewData["Title"] = "Schedule An HVAC Service in Bradenton | Unique Services Florida - ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["MetaDescription"] = "Protect your investment, schedule home service from West Florida&#039;s experts at Unique Services. We provide HVAC, plumbing, electrical, and more.";
}

<div class="container">

    <div class="row">
        <div class="col-lg-10">
            <h1 class="h1-internal mt-5">Schedule Service</h1>
            <hr class="hr-internal" />
            <h2 class="h2-internal mt-5">For faster service call us at <a href="tel:9413770153" class="services-details">941-377-0153</a></h2>
            <hr class="hr-internal" />

            <h2 class="h2-internal mt-5">HVAC, PLUMBING, ELECTRICAL, & AIR QUALITY SERVICES IN BRADENTON</h2>
            <hr class="hr-internal" />
            <p>Or get started online and we'll get back to you right away!</p>

            <div class="row mb-5">
                <div class="col-lg-4">
                    <form>
                        <div class="mb-3">
                            <label for="inputMail" class="form-label">Name</label>
                            <input type="text" class="form-control" id="inputFirstName">
                        </div>
                        <div class="mb-3">
                            <label for="inputPhone" class="form-label">Phone</label>
                            <input type="tel" class="form-control" id="inputPhone">
                        </div>
                        <div class="mb-3">
                            <label for="inputEmail" class="form-label">Email Address</label>
                            <input type="email" class="form-control" id="inputEmail" aria-label="Email">
                        </div>
                        <div class="mb-3">
                            <label for="inputService" class="form-label">Service</label>
                            <select class="form-select" aria-label="Select a Service" id="inputService" >
                                <option selected>Select a Service</option>
                                <option value="1">Air Conditioning</option>
                                <option value="2">Heating</option>
                                <option value="3">Plumbing</option>
                                <option value="4">Electrical</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
            
            
        </div>
    </div>
</div>
    


