
@{
    ViewData["Title"] = "St. Jude Partnership | Unique Services - ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["MetaDescription"] = "St. Jude Partnership | Unique Services";
}

<div class="container">

    <div class="row">
        <div class="col-lg-10">
            <h1 class="h1-internal mt-5">St. Jude Partnership | Unique Services</h1>
            <hr class="hr-internal" />

            <h2 class="h2-internal mt-5">UNIQUE SERVICES AND THE ARS NETWORK ARE A PROUD PARTNER OF ST. JUDE CHILDREN’S RESEARCH HOSPITAL</h2>
            <hr class="hr-internal" />

            <p>We are proud to support St. Jude Children’s Research Hospital® and their lifesaving mission: Finding cures. Saving children.® Since 2018, Unique Services and the rest of the ARS Network have volunteered numerous hours and sponsored events to help St. Jude defeat childhood cancer and other life-threatening diseases. Since it opened its doors in 1962, St. Jude has developed groundbreaking treatments that have advanced the childhood cancer survival rate from 20% to 80%. Please join us in supporting St. Jude Children’s Research Hospital by donating directly: www.stjude.org/comfortforacause.</p>
            <p class="mb-5">A special thank you to our more than 70 branches who have generously supported St. Jude through volunteerism, employee donations, and engagement. Since 2018, we have raised more than $5.4 million to help ensure that no family ever receives a bill for housing, food, or treatment because all a family should worry with is helping their child live.</p>
        </div>
    </div>
</div>
    


