@model EmailMessageViewModel

<form class="row needs-validation" novalidate asp-controller="Home" asp-action="SendEmail" method="post">
    <input type="hidden" asp-for="RedirectUrl" />
    <div class="row mb-3">
        <div class="col-lg-6 col-sm-12">
            <input type="text" class="form-control" id="inputFirstName" placeholder="Name" asp-for="Name">
        </div>
        <div class="col">
            <input type="tel" class="form-control" id="inputPhone" placeholder="Phone Number" asp-for="Phone">
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-lg-6 col-sm-12">
            <input type="email" class="form-control" id="inputEmail" placeholder="Email" aria-label="Email" asp-for="EmailAddress">
        </div>
        <div class="col">
            <select class="form-select" aria-label="Select a Service" id="inputService" asp-for="Selection">
                <option selected>Select a Service</option>
                <option value="1">Air Conditioning</option>
                <option value="2">Heating</option>
                <option value="3">Plumbing</option>
                <option value="4">Electrical</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <button class="btn btn-warning float-end" type="submit">Submit</button>
        </div>
    </div>
</form>