<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <meta name="description" content="@ViewData[@"MetaDescription"]" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap" rel="stylesheet">

    <link href="~/fontawesome/css/all.min.css" rel="stylesheet">

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark box-shadow">
            <div class="container">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        CONTACT US TODAY   
                    </li>
                    <li class="nav-item">
                        <span style="font-size: 6px; color: #eabc1d; position: absolute; bottom: 43px;"><i class="fa-solid fa-circle"></i></span>                        
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-light btn-lg" role="button" asp-area="" asp-controller="Home" asp-action="ScheduleService">SCHEDULE SERVICE</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-warning btn-lg" role="button" href="tel:9413770153">941.377.0153</a>   
                    </li>
                </ul>
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-right"><a class="nav-right-a" asp-area="" asp-controller="Home" asp-action="">About</a></li>
                    <li class="nav-right"><a class="nav-right-a" asp-area="" asp-controller="Home" asp-action="">Careers</a></li>
                    <li class="nav-right"><a class="nav-right-a" asp-area="" asp-controller="Home" asp-action="">St Jude</a></li>
                    <li class="nav-right"><a class="nav-right-a" asp-area="" asp-controller="Home" asp-action="">Contact</a></li>
                </ul>
            </div>
        </nav>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/logo.png" alt="Unique Services logo" class="img-fluid" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 justify-content-center">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Air Conditioning
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AirConditioning">Installation</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AirConditioningRepair">Repair</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AirDuctCleaning">Air Duct Cleaning</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="IndoorAirQuality">Indoor Air Quality</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Heating">Heating</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Plumbing">Plumbing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Electrical">Electrical</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Offers">Offers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ProsClub">PROS Club</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ServicePlans">Service Plans</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
 
    @RenderBody()

<nav class="navbar navbar-expand-sm navbar-toggleable-sm footer-yellow box-shadow">
    <div class="container">
        <ul class="navbar-nav flex-grow-1 ms-5">
            <li class="nav-item ms-5">
                CALL NOW TO SCHEDULE SERVICE   
            </li>
            <li class="nav-item hide-mobile">
                <span style="font-size: 6px; color: #fff; position: absolute; bottom: 34px;"><i class="fa-solid fa-circle"></i></span>
            </li>@*
            <li class="nav-item">
                AVAILABLE 24/7   
            </li>
            <li class="nav-item">
                <span style="font-size: 6px; color: #fff; position: absolute; bottom: 38px;"><i class="fa-solid fa-circle"></i></span>
            </li>*@
            <li class="nav-item">
                941.377.0153   
            </li>
        </ul>
    </div>
</nav>
<div class="container-fluid bg-dark">
    <div class="container">
        <footer class="py-5">
            <div class="row pt-2">
                <div class="col-lg-3 col-sm-12">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                        <img src="~/images/logo-footer.png" alt="Unique Services logo" class="img-fluid" />                    
                    </a>
                    <p class="mt-5">
                        Unique Services<br />
                        4515 19th Street Court East<br />
                        Bradenton, FL 34203
                    </p>
                    <p>
                        Unique Services South<br />
                        13891 Jetport Loop #12<br />
                        Ft Myers, FL 33913
                    </p>
                </div>

                <div class="col-lg-2 col-sm-12">
                    <h4>Quick Links</h4>
                    <hr class="footer-hr" />
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a class="nav-link p-0 text-muted" asp-area="" asp-controller="Home" asp-action="AirConditioning">Air Conditioning</a></li>
                        <li class="nav-item mb-2"><a class="nav-link p-0 text-muted" asp-area="" asp-controller="Home" asp-action="Heating">Heating</a></li>
                        <li class="nav-item mb-2"><a class="nav-link p-0 text-muted" asp-area="" asp-controller="Home" asp-action="Plumbing">Plumbing</a></li>
                        <li class="nav-item mb-2"><a class="nav-link p-0 text-muted" asp-area="" asp-controller="Home" asp-action="Electrical">Electrical</a></li>
                        <li class="nav-item mb-2"><a class="nav-link p-0 text-muted" asp-area="" asp-controller="Home" asp-action="Offers">Offers</a></li>
                        <li class="nav-item mb-2"><a class="nav-link p-0 text-muted" asp-area="" asp-controller="Home" asp-action="ProsClub">Pros Club</a></li>
                    </ul>
                </div>

                <div class="col-lg-1 col-sm-12"></div>
                <div class="col-lg-3 col-sm-12">
                    <h4>Our Partners</h4>
                    <hr class="footer-hr" />
                    <div class="row">
                        <div class="col-6 mt-1">
                            <img src="~/images/nest-footer.png" alt="Nest logo" class="img-fluid" />
                        </div>
                        <div class="col-6">
                            <img src="~/images/carrier-footer.png" alt="Carrier logo" class="img-fluid" />
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-6 mt-3">
                            <img src="~/images/moen-footer.png" alt="Moen logo" class="img-fluid" />
                        </div>
                        <div class="col-6">
                            <img src="~/images/rheem-footer.png" alt="Rheem logo" class="img-fluid" />
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-12">
                    <h4>Follow Us</h4>
                    <hr class="footer-hr" />
                    
                    <div class="row">
                        <div class="col-3">
                            <img src="~/images/facebook-footer.png" alt="Facebook logo" class="img-fluid" />
                        </div>
                        <div class="col-3">
                            <img src="~/images/instagram-footer.png" alt="Instagram logo" class="img-fluid" />
                        </div>
                        <div class="col-3">
                            <img src="~/images/twitter-footer.png" alt="Twitter logo" class="img-fluid" />
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>    
</div>

<div class="copyright footer-bottom py-4">
	<div class="container py-2">
		<p class="mb-0 text-muted small">© @DateTime.Now.Year UNIQUE SERVICES, LLC. CMC1250555 HVAC  •  EC13002942 ELECTRICAL  •  CFC1429592 PLUMBING</p>
	</div>
</div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
